:root {
  --white: #fff;
  --blueTxt: #42a9ed;
  --blueHover: #43abf0;
  --blueGeneral: #3e9cdc;
  --hoverBtn: #317cb0;
  --stepBg: #3e9cdc;
  --stepBorder: #286690;
  --borderColor: #6f6d7b;
  --btnDark: #2a2b30;
  --txtHover: #b2b2b2;
  --bluePrimary: #0d99e7;
  --black: #000;
  --inputColor: #272733;
}
